.markdown {
    font-size: var(--chakra-fontSizes-sm);
}

.break-word {
    word-break: break-all;
}

.note-markdown {
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
}

.markdown .ql-editor {
    padding: 0;
}

.markdown ol,
.markdown ul {
    padding-left: 1.5rem;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: attr(data-value);
}